<div>
    <h2>Add Book</h2>
    <form (ngSubmit)="addLibro()">
      <label for="title">Title:</label>
      <input id="title" [(ngModel)]="title" name="title" required>
      
      <label for="author">Author:</label>
      <input id="author" [(ngModel)]="author" name="author" required>
      
      <label for="description">Description:</label>
      <input id="description" [(ngModel)]="description" name="description">
      
      <button (click)="addLibro()">Add Book</button>

    </form>
  </div>
  
  <div>
    <h2>Listado de libros</h2>
    <ul>
      <li *ngFor="let libro of libros">
        {{ libro.title }} by {{ libro.author }}
        <button (click)="deleteLibro(libro.id)">Delete</button>
      </li>
    </ul>
  </div>
  